/* Error: Expected identifier.
 *    ,
 * 10 |             input[1]{
 *    |                   ^
 *    '
 *   ../main/main.scss 10:10  @import
 *   root.scss 12:11          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a    \2577 \a 10 \2502              input[1]{\a    \2502                    ^\a    \2575 \a   ../main/main.scss 10:10  @import\a   root.scss 12:11          root stylesheet";
}
