footer {
	.socialtree {
		z-index: 10;
		position: fixed;
		top: 10px;
		right: 10px;
		width: 10vw;
		svg {
			fill: $font;
			transition: transform 0.5s ease-in-out;
			&:hover, &:focus, &:active {
				transform: translateX(-10px);
			}
		}
	}

	.socials {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 20px;
		width: 80vw;
		margin: auto;
		padding: 0 0 5vh 0;
		li {
			a {
				img {
					width: 20vw;
					transition: transform 0.5s ease-in-out;
					&:hover, &:focus, &:active {
						transform: translateY(-10px);
					}
				}
			}
		}
	}
	.copyright {
		background-color: $accent;
		padding: 10px;
		width: 100vw;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			font-size: 0.7rem;
		}
	}
}

@media (min-width: 768px) {
	footer {
		.socialtree {
			width: 5vw;
		}
		.socials {
			width: 60vw;
			li {
				a {
					svg {
						width: 5vw;
					}
				}
			}
		}
	}
}
