@import '../colour';
@import '../fonts';

html {
	overflow-x: hidden;
	body {
		margin: 0;
		overflow-x: hidden;
		background-color: $background-1;
		background-image: url('../img/After\ Dark\ Background.jpg');
		background-repeat: repeat;
		background-size: 90px;

		@import '../header/header';

		@import '../main/main';

		@import '../footer/footer';
	}
}
